* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

body {
  /* height: 100vh;
  background-color: white;
  background-image: url(Images/background.jpg);
  background-size: cover;
  background-position: center; */
  height: 100vh;
  margin: 0;
}
/* background */
.bg {
  /* The image used */
  background-image: url(Images/background.jpg);
  /* Full height */
  height: 100vh;
  /* Center and scale  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

/* Change the background colour on hover */
a:hover {
  color: lightgrey;
}

/* HEADER */

header {
  position: top;
  /* padding: 1rem; */
}

/* Style the header */
.navbar {
  width: 100%;
  height: 60%;
  max-width: 1200px;
  line-height: 15mm;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style the header links */
/* .navbar .logo a {
  font-size: 1.2rem;
  font-weight: bold;
} */

/* Style the logo link */
.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.navbar input[type="text"] {
  background-color: white;
  color: black;
  padding: 0.3rem 0.7rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Open sans", sans-serif;
}

/* dropdown menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  align-items: center;
  line-height: 5mm;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Open sans", sans-serif;
}

/* RESPONSIVE WEBSITE */

/* if screen is large then show navbar  */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn,
  .navbar .input[type="text"] {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

/* if screen size is small then don't show navbar, show dropdown_menu */
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Images/background.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div.scroll-container {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 5px;
  width: 600px;
  height: 400px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 0.9rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Dropdown content apperance */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  padding-left: 5px;
}

/* Add a background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
